
/* basic styles for black background and crosshair cursor */

html {
	height: 100%;
  }

body {
	min-height: 100%;
	background: #000;
	margin: 0;
}

canvas {
	cursor: crosshair;
	display: block;
}

